<main role="main" class="container my-auto">
        <div class="row">
            <div id="login" class="col-lg-4 offset-lg-4 col-md-6 offset-md-3
                col-12">
                <h2 class="text-center">Bienvenido</h2>
                <img class="img-fluid mx-auto d-block rounded"
                    src="https://picsum.photos/id/870/300/200" />

                <form>
                    <div class="form-group">
                        <label for="nickname">Nickname</label>
                        <input id="nickname" name="nickname"
                            class="form-control" type="text"
                            placeholder="Nickname" [(ngModel)]="usuario.nickname" autocomplete="off" required autofocus >
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input id="password" name="password"
                            class="form-control" type="password"
                            placeholder="Contraseña" [(ngModel)]="usuario.password" autocomplete="off" required>
                    </div>
                    <button  class="btn btn-primary mb-2"(click)="setUsuario()" routerLink="/productos">
                        Entrar
                    </button>
                    <br>
                    <a routerLink="/registro">Registrar Usuario</a>
                </form>
            </div>
        </div>
    </main>