<main role="main" class="container my-auto">
        <div class="row">
            <div id="login" class="col-lg-4 offset-lg-4 col-md-6 offset-md-3
                col-12">
                <h2 class="text-center">Registro de Usuarios</h2>
                <img class="img-fluid mx-auto d-block rounded"
                    src="../../../assets/registro.png" />

                <form>
                    <div class="form-group">
                        <select id="tipo" name="tipo" [(ngModel)]="usuario.cod_tipo_fk" class="form-control">
                            <option value="1" selected>Administrador</option>>
                            <option value="2">Asistente</option>>
                            <option value="3">Cliente</option>>
                        </select>  
                        
                    </div> 
                    <div class="form-group">
                        <label for="usuario.apellido">Nombre</label>
                        <input id="nombre" name="nombre"
                            class="form-control" type="text"
                            placeholder="nombre" [(ngModel)]="usuario.nombre" autocomplete="off" autofocus required>
                    </div> 
                    <div class="form-group">
                            <label for="apellido">Apellido</label>
                            <input id="apellido" name="apellido"
                            class="form-control" type="text"
                            placeholder="apellido" [(ngModel)]="usuario.apellido" autocomplete="off" required>
                    </div> 
                    <div class="form-group">
                        <label for="nickname">Nickname</label>
                        <input id="nickname" name="nickname"
                            class="form-control" type="text"
                            placeholder="Nickname" [(ngModel)]="usuario.nickname" autocomplete="off" required>
                    </div>                    
                    <div class="form-group">
                        <label for="palabraSecreta">Contraseña</label>
                        <input id="palabraSecreta" name="palabraSecreta"
                            class="form-control" type="password"
                            placeholder="Contraseña" [(ngModel)]="usuario.password" autocomplete="off" required>
                    </div>
                    <button  class="btn btn-primary mb-2"(click)="setUsuario()" routerLink="">
                        Registrar
                    </button>
                    <br>
                   
                </form>
            </div>
        </div>
    </main>