
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
    
        <a class="navbar-brand" routerLink="/productos"><i class="fab fa-react"></i>  Practica 2 <!-- modifique el titulo y la ruta -->
        <h2 class="text-center">Bienvenido {{usuario_activo}}{{varia}}</h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">  <!-- ml-auto       -->
            
            <li class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"[(ngModel)]="buscar">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit"[routerLink]="['/productos/buscar', buscar]">Search</button>
              </li>
            
            <li class="nav-item ">
              <a class="nav-link" routerLink="/carrito" routerLinkActive=""><i class="fas fa-cart-arrow-down"></i> Carrito de Compras<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="/proveedores" *ngIf="admin_funcion"><i class="far fa-address-card"></i> Add Proveedor</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"*ngIf="admin_funcion">
                  <i class="fas fa-dice-d6"></i>  Gestión de Productos
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="productos/agregar">Agregar</a>
                <a class="dropdown-item" routerLink="">Reportes</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/asociar">Asociar Producto</a>
                <a class="dropdown-item" routerLink="/asociar/Lista">Productos Asociados</a>
                <a class="dropdown-item" routerLink="/facturas">Compras realizadas</a>
              </div>
            </li>

          </ul>
          <form class="form-inline my-2 my-lg-0">
           
            <button class="btn btn-outline-success my-2 my-sm-0" (click)="logOut()" routerLink="/login">Cerrar Sesión</button>
          </form>
        </div>
   
      </nav>