<div class="col-md-12">
        <div class="card text-center">
                <form>
                        <h2> <label for="exampleInputEmail1">Tabla de Facturas Guardadas</label></h2>
                </form>


<div class="col-md-4" *ngFor ="let factura of facturas">
        <div class="card text-center">
            <div class="card-header bg-info text-white d-flex justify-content-between align-items-center">
                <i class="fas fa-clipboard-list"></i> Numero de Factura:  {{factura.cod_factura}}

            </div>
            <img [src]="" class="card-img-top">
            
            <div class="card-body"   >
                <i class="fas fa-tasks"></i>
                <p>Nit : {{factura.nit}}</p>
                <p>Fecha:  {{factura.fecha}}</p>
                <p>Nombre : {{factura.nombre}}</p>
                <p>Codigo Usuario:  {{factura.cod_usuario}}</p>


               
            </div>
        </div>
        </div>

    </div>
</div>
